/* CSS VARIABLES */
:root {
    --color1: #ffffff;
    --color2: #000000;
    --color3: #5887FF;
    --color4: #cccccc;
    --mainborder: solid 2px rgb(202, 202, 202);
}

/* Utility Class */
.text {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    overflow: hidden;
}

/* HEADER */
.site-name {
    margin: 0.8rem 0 0.8rem 1rem;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color2);
}

li {
    text-align: center;
    list-style: none;
    padding: 1rem;
}

li:first-child {
    padding-top: 0.6rem;
}

ul {
    padding: 0;
}

nav {
    background-color: var(--color2);
    width: 100%;
    visibility: hidden;
    overflow: hidden;
    height: 0;
}

.menu-btn {
    background-color: transparent;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    margin-right: 1rem;
    cursor: pointer;
}

/* RESPONSIVE MENU BUTTON */
.menu-btn .bar {
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: var(--color1);
    position: relative;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}

.menu-btn .bar:before {
    content: "";
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: var(--color1);
    border-radius: 0.5rem;
    position: absolute;
    top: 10px;
    transition: all 0.3s ease-in-out;
}

.menu-btn .bar:after {
    content: "";
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: var(--color1);
    border-radius: 0.5rem;
    position: absolute;
    top: -10px;
    transition: all 0.3s ease-in-out;
}

.open .bar {
	background-color: transparent;
}
  
.open .bar:before {
	top: 0;
	transform: rotate(45deg);
}
  
.open .bar:after {
    top: 0;
    transform: rotate(-45deg);
}

nav.activated {
    transition: height 0.3s ease, visibility 0s 0.3s;
}

.open nav {
	transition: height 0.3s ease, visibility 0s;
	visibility: visible;
    height: 20rem;
}
/* END OF RESPONSIVE MENU BUTTON */

/* NAV MEDIA QUERY */
@media (min-width: 43.75em) {
    .menu-btn {
		display: none;
	}

	header {
		flex-wrap: nowrap;
	}

    .site-name {
        margin-left: 2rem;
        width: 15rem;
    }

    li:first-child {
        padding-top: 1rem;
    }

	nav {
		height: auto;
		visibility: visible;
	}

	nav ul {
		display: flex;
		justify-content: flex-end;
        margin-right: 2rem;
	}
}

/* HEADER LINKS */
h1 a {
    font-size: 2rem;
}

a[href="#"] {
    font-size: 1.1rem;
}

a {
    text-decoration: none;
    color: var(--color1);
    font-weight: bold;
}

a:hover {
    color: var(--color3);
}

h2 {
    font-size: 2rem;
    text-align: center;
}

main {
    padding: 0 1rem;
}

.content-wrapper {
    max-width: 20rem;
    margin: 0 auto;
}

/* STORIES */
.story {
    border-bottom: var(--mainborder);
    padding-bottom: 1.6rem;
    margin-bottom: 2rem;
    position: relative;
    max-width: 20rem;
}

.story a + p {
    color: grey;
    font-weight: bold;
}

.story > img {
    border: solid 2px black;
}

.stories-wrapper {
    margin-bottom: 5rem;
}

.story a {
    margin-bottom: 0.5rem;
    font-weight: bold;
    padding: 0.4rem 0.4rem 0.4rem 0;
    text-decoration: underline;
}

.story h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

/* WEATHER */
.city:before {
    content: url(../images/locator.svg);
}

.weather-info p {
    margin: 0;
    font-size: 1.2rem;
    padding: 1rem;
}

.weather-info img {
    width: 5rem;
    grid-row: 2;
    padding-left: 1rem;
}

.weather-info {
    border: var(--mainborder);
    display: grid;
    grid-template-columns: 6rem 11rem;
    max-width: 16.93rem;
    margin: 0 auto 5rem auto;
}

.weather-info p ~ p {
    grid-row: 1;
    font-size: 1.8rem;
    width: 11rem;
}

/* NEWSLETTER */
.newsletter-wrapper {
    margin-bottom: 4rem;
    text-align: center;
}

.newsletter p {
    padding-bottom: 1rem;
}

.sign-up {
    padding: 1rem;
    background-color: black;
    color: white;
    border-radius: 0.5rem;
}

/* SOCIAL MEDIA ICONS */
.social-media {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.social-media a {
    margin: 0 1rem;
}

/* ATTRIBUTE SELECTOR FOR STORY, WEATHER, AND SOCIAL MEDIA LINKS */
a[href=""] {
    color: var(--color2);
}

a[href=""]:hover {
    color: var(--color3);
}

/* FOOTER */
footer {
    padding: 2rem;
    text-align: center;
}

/* MEDIA QUERY LAYOUT */
@media (min-width: 57.063em) {
    .story {
        padding-bottom: 2rem;
        margin-bottom: 0;
        border-bottom: none;
    }

    .content-wrapper {
        display: grid;
        max-width: 57.063rem;
        margin: 0 auto;
    }

    .stories-wrapper {
        display: grid;
        gap: 0.2rem;
        grid-template-columns: repeat(3, 18rem);
    }

    .story:last-child {
        grid-row: 1;
        grid-column: span 3;
        max-width: 100%;
    }

    .story:last-child h3 {
        font-size: 2rem;
    }
}

@media (min-width: 81.25em) {
    .content-wrapper {
        display: grid;
        max-width: 100%;
        grid-template-columns: 1fr 55rem 25rem 1fr;
    }

    .stories-wrapper {
        grid-column: 2;
    }

    .social-media {
        position: fixed;
        top: 40%;
        margin: 0;
        width: 4rem;
        padding: 0;
        background-color: var(--color1);
        border-radius: 0 1rem 1rem 0;
    }
    
    .social-media a {
        margin: 0;
    }

    .top-stories {
        grid-row: 1;
        grid-column: 2;
    }
}